@charset "UTF-8";
.img-avatar {
    border-radius: 100%;
    width: 100px;
    margin-bottom: 10px;
}

i.icon-black.ryl-icon-circle-border-3 {
    color: black;
    border-color: black;
}

.error-banner {
    background-color: red;
    padding: 5px;
    width: 75%;
    margin: 0 auto 25px auto;
    font-size: 1.5em;
}

.copy {
    cursor: pointer;
}