@mixin arrow-top($arrow-size: 20px, $arrow-color: $main-color) {
    position: relative;
    overflow: visible;

    &:after {
        content: " ";
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 50%;
        border: ($arrow-size / 2) solid transparent;
        margin-top: -$arrow-size;
        margin-left: -($arrow-size / 2);
        border-bottom-color: $arrow-color;
    }
}

@mixin arrow-bottom($arrow-size: 20px, $arrow-color: $main-color) {
    position: relative;
    overflow: visible;

    &:after {
        content: " ";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0;
        left: 50%;
        border: ($arrow-size / 2) solid transparent;
        margin-bottom: -$arrow-size;
        margin-left: -($arrow-size / 2);
        border-top-color: $arrow-color;
    }
}

@mixin arrow-left($arrow-size: 20px, $arrow-color: $main-color) {
    position: relative;
    overflow: visible;

    &:after {
        content: " ";
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: 0;
        border: ($arrow-size / 2) solid transparent;
        margin-left: -$arrow-size;
        margin-top: -($arrow-size / 2);
        border-right-color: $arrow-color;
    }
}

@mixin arrow-right($arrow-size: 20px, $arrow-color: $main-color) {
    position: relative;
    overflow: visible;

    &:after {
        content: " ";
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        right: 0;
        border: ($arrow-size / 2) solid transparent;
        margin-right: -$arrow-size;
        margin-top: -($arrow-size / 2);
        border-left-color: $arrow-color;
    }
}