body {
    position: relative;
    overflow-x: hidden;
}

a, a:hover, a:focus, a:active, a.active {
    color: inherit;
    text-decoration: none;
    outline: none;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.ryl-list-inline-block {
    li {
        display: inline-block;
    }
}

input, textarea, button {
    outline: none;
}

header, footer {
    @include clearfix;
}