{% extends "layout.html" %}
{% block body %}
        <div id="ryl-home-content" class="container-fluid ryl-cell-vertical-wrapper ryl-home-content-style-2" style="margin-top:0px;">
          <div class="ryl-cell-middle text-center"><div style="background-color:rgba(0, 0, 0, 0.7); padding: 30px 30px 8px 30px;"><b class="ryl-fs-1">TEST YOUR H4CKING SKILLZZ</b>
            <p class="ryl-fs-4 ryl-fw-medium">Enter your <a href="https://www.rinkeby.io/" style="text-decoration:underline;">Rinkeby address</a> to get started:<form action="/dashboard" method="get"><input type="text" name="address" size=60 style="margin-top:-20px;"></input></form><br>(or keep scrolling for information)</p></div>
          </div>
        </div>
      </header>
      <section id="about" class="ryl-bg-gray" >
        <header class="ryl-section-header-style-2 ryl-bg-gray" style="padding-bottom:20px; margin-bottom:20px;">
          <div class="container ryl-padding-top-20">
            <h4 class="ryl-margin-bottom-30">WHAT IS THIS?</h4>
            <p class="ryl-margin-bottom-30"> 
                <p><b>Hack This Contract</b> is an experimental new site to allow Solidity developers, auditors, and designers to better understand how to write secure contracts (and exploit insecure contracts).
                We provide a series of example, vulnerable contracts on the Rinkeby testnet, and encourage developers to exploit their vulnerabilities with their own contracts or techniques.  We also provide a leaderboard for developers to rank themselves across the broader security community.</p>
                <p>Developers should familiarize themselves with Rinkeby <a href="https://www.rinkeby.io/" style="text-decoration:underline;">through the tutorial provided on their official website.</a></p>
                <p><b>We are always soliciting more examples of contracts to add to our challenge database, and encourage contributions to the back-end as well on <a href="https://github.com/pdaian/hackthiscontract" class="underline">Github</a></b>.
                <br><br><p><i>Hack This Contract was developed with <span style="color:red;"> &hearts;&hearts;&hearts;</span> at <a class="underline" href="http://www.initc3.org/events/2017-07-13-IC3-Ethereum-Crypto-Boot-Camp-at-Cornell-University.html">IC3 Boot Camp</a> by the <a class="underline" href="https://github.com/pdaian/bootcamp-security/">smart contract security</a> team, and is partially inspired by <a href="https://www.hackthissite.org/" class="underline">Hack This Site</a>.</i></p>
          </div>
        </header>
      </section>
      <footer class="ryl-footer-style-2">
        <div class="container">
          <ul class="ryl-list-inline-block ryl-footer-social">
            <li><a href="index.html#"><i class="ryl-icon-circle-border-3 icon-email29"></i></a></li>
            <li><a href="index.html#"><i class="ryl-icon-circle-border-3 icon-linkedin"></i></a></li>
            <li><a href="index.html#"><i class="ryl-icon-circle-border-3 icon-facebook"></i></a></li>
            <li><a href="index.html#"><i class="ryl-icon-circle-border-3 icon-twitter"></i></a></li>
          </ul>
          <div class="ryl-footer-content">Never© 2017 <a href=index.html">Hack This Contract</a></div>
        </div>
      </footer>
    </div>
    <script src="static/vendors/jquery/jquery-1.11.0.min.js"></script>
    <script src="static/vendors/html5shiv/html5shiv.min.js"></script>
    <script src="static/vendors/jquery-easing/jquery.easing-1.3.min.js"></script>
    <script src="static/vendors/owl.carousel2/owl.carousel.min.js"></script>
    <script src="static/vendors/easy.piechart/jquery.easypiechart.min.js"></script>
    <script src="static/vendors/stellar/jquery.stellar.min.js"></script>
    <script src="static/vendors/jquery.placeholder/jquery.placeholder.js"></script>
    <script src="static/vendors/countdown/jquery.plugin.min.js"></script>
    <script src="static/vendors/countdown/jquery.countdown.min.js"></script>
    <script src="static/vendors/skrollr/skrollr.min.js"></script>
    <script src="static/vendors/bootstrap-3.3/js/bootstrap.min.js"></script>
    <script src="static/assets/scripts/main.js"></script>
    <!-- GA Code -->
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-57387972-1', 'auto');ga('send', 'pageview');</script>
    <!-- GA Code End -->
  </body>
</html>
