{% extends "base.html" %}
{% block body %}
</header>
<div class="sticky-footer-container">
    <table class="table table-striped table-hover table-ranking">
        <thead>
        <tr>
            <th>Address</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td style="font-family: monospace"><a href="http://rinkeby.etherscan.io/address/{{ user[0] }}">{{
                user[0] }}</a></td>
            <td>{{ user[1] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
