.ryl-parallax-bg {
    background-attachment: fixed;
    background-size: cover;
    background-position-x: 50%;
}

.ryl-ios .ryl-parallax-bg {
    background-attachment: scroll;
}

.ryl-home-parallax-background-style-1 {
    background-image: url("../images/home-bg1.jpg");
}

.ryl-home-parallax-background-style-2 {
    background-image: url("../images/home-bg2.jpg");
}

.ryl-quote-parallax-background-style-1 {
    background-image: url("../images/quote-section-bg.jpg");
}

.ryl-skill-parallax-background-style-1 {
    background-image: url("../images/skill-bg.jpg");
}

.ryl-news-parallax-background-style-1 {
    background-image: url("../images/news-bg.jpg");
}

.ryl-news-parallax-background-style-2 {
    background-image: url("../images/news-bg2.jpg");
}

.ryl-testimonial-parallax-background-style-1 {
    background-image: url("../images/testimonial-bg.jpg");
}

.ryl-testimonial-parallax-background-style-2 {
    background-image: url("../images/testimonial-bg2.jpg");
}

.ryl-twitter-parallax-background-style-1 {
    background-image: url("../images/twitter-bg1.jpg");
}

.ryl-twitter-parallax-background-style-2 {
    background-image: url("../images/twitter-bg2.jpg");
}

.ryl-contact-parallax-background-style-1 {
    background-image: url("../images/contact-bg.jpg");
}

.ryl-case-study-parallax-background-style-1 {
    background-image: url("../images/case-study-bg1.jpg");
}