.ryl-video-wrapper {
    position: relative;
    height: 0;
    padding-top: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}